@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(205, 224, 228);
  --background-alternate-2: rgb(165, 208, 225);
  --background-danger: rgb(228, 118, 112);
  --background-danger-alternate-1: rgb(244, 211, 210);
  --active: rgb(96, 145, 212);
  --active-alternate: rgb(207, 216, 229);
  --main: rgb(136, 197, 74);
  --main-alternate-1: rgb(191, 205, 176);
  --golden: rgb(196 162 10);
  --overlay: rgba(55, 120, 128, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: rgb(255, 255, 255);
    --background: rgb(39, 40, 43);
    --background-alternate-2: rgb(27, 27, 31);
    --background-danger: rgb(116, 27, 22);
    --background-danger-alternate-1: rgb(56, 35, 33);
    --active: rgb(17 48 92);
    --active-alternate: rgb(14, 35, 64);
    --main: rgb(59, 104, 14);
    --main-alternate-1: rgb(35, 58, 12);
    --golden: rgb(178, 192, 71);
    --overlay: rgba(31, 66, 70, 0.512);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}